h1 {
    color: #f32b7b;
    font-family: 'Alfa Slab One', cursive;
    transition: transform 0.3s;
}

h1:hover{
    transform: scale(1.05);
}

body {
    background-color: #255535;
}


h4 {
    font-family: 'Alfa Slab One', cursive;
    color: #F7B600 
}

.title {
    background-color: #255535;
}

.title-wave {
    position: relative;
    margin-top: -9px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.title-wave svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 28px;
}

.title-wave .shape-fill {
    fill: #255535;
}

.bg-1{
    background-color: #ec498a;
}

.bg-2{
    background-color: #ec498a;
    margin-top: -16px;
}

.wave-2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -16px;
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 48px;
}

.wave-2 .shape-fill {
    fill: #EC498A;
}

.bg-3 {
    background-color: #5a6268;
}

.rounded{
    opacity : 0.9;
    transition: 0.3s;
}

.rounded:hover {
    transition: 0.3s;
    opacity: 1;
}

.card {
    zoom: 1;
    opacity: 0.96;
    transition: transform 0.3s;
}

.card:hover {
    opacity: 1;
    transform: scale(1.05);
}